#mainSphereContainer {
    margin: 0;
    overflow: hidden;
  }
#myCanvas {
    width: 100vw;
    height: 60vh;
  }
  @media screen and (max-width: 700px) {
    .skillMain {
        flex-direction: column;
        flex-direction: column-reverse;
    }
    .skillText {
        width: 100% !important;
    }
    #mainSphereContainer {
        width: 100% !important;
    }
}
@media screen and (max-width: 400px) {
    .skillMain {
        margin-top: -80px;
    }
}
.seo-heading {
    color: var(--white-color);
    font-weight: bold;
  }
  
  /* .seo-link {
    color:  var(--primary-color);
  } */
  
  .seo-note {
    font-size: 14px;
  }
  
